* {
    font-family: Lato, sans-serif;
}
body {
    background: #fff;
}

ul {
    list-style-type: none;
}

li {
    padding: 20px 0;
    position: relative;
    margin-top: 35px;
    border-bottom: 1px solid rgba(206, 205, 205, 0.794);
}

li:hover {
    cursor: pointer;
}

h1 {
    font-size: 16px;
    font-weight: 700;
}

hr {
    background-color: black;
    height: 1.5px;
    border: 0;
}

#h1-add-item {
    float: left;
    width: 100%;
}

.container {
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
    width: 400px !important;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 8px;
    padding: 25px;
}

#div-btnReset {
    display: flex;
}

#input {
    width: 290px;
    margin-top: 10px;
    padding:6px;
    padding-left: 10px;
    color: gray;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    border-radius: 6px;
    border: 1px solid gray;
}

#btnAdd {
    color: #888;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 400;
}

#btnAdd:hover {
    color: #0FC57C;
}

#input, button {
    outline: none;
}

.li-input {
    color: rgb(26, 26, 26);
    font-size: 20px;
    background-color:rgb(236, 236, 236);
    margin-left: 10px;
    width: 260px;
    border-style: none;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.li-input:focus{
    outline: none;
}

.btn {
    padding: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: black;
    background-color: rgb(236, 236, 236);
}

.btn:hover {
    color: #333;
}

.todo {
    margin-top: 25px;
    margin-bottom: 40px;
}

.clear {
    position: absolute;
    right: 0;
}

.strike-text {
    /* color: #b3b3b3; */
    text-decoration: line-through;
    transform:translateX(7px);
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.mt-30 {
    margin-top: 30px;
}

/* ICONS */
.fa-edit {
    float: right;
    margin-right: 40px;
}

.fa-edit:hover {
    color: #333;
}

.fa-trash-alt:hover {
    color: rgb(179, 4, 4);
}

.icon {
    font-size: 18px;
}

.font-italic {
    font-style: italic;
  }
  
  