body {
    background: #D7FFF1;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    margin: 12px;
}

li:hover {
    cursor: pointer;
}

hr {
    background-color: rgb(11, 95, 11);
    height: 1px;
    border: 0;
}

h2 {
    font-size: 32px;
    padding: 5px;
}

.container {
    background-color: #77AF9C;
    width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px;
}

.input {
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}

.li-input {
    margin-left: 5px;
}

.btn {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: black;
    background-color: #8CD790;
    text-decoration: none;
}

.list {
    margin-top: 25px;
}

.clear {
    position: absolute;
    right: 0;
}

.strike-text {
    text-decoration: line-through;
}

.li-input {
    background: #77AF9C;
    width: 260px;
    border-style: none;
}

.li-input:focus{
    outline: none;
}

/* ICONS */
.fa-edit {
    float: right;
    margin-right: 20px;
}

.icon {
    font-size: 14px;
}
